################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VSWorkspaceState.json
/.vs/tasks.vs.json
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/project2/v15/ipch/AutoPCH/43c54c28a38138d5/BLOCK.ipch
/.vs/project2/v15/ipch/AutoPCH/43c54c28a38138d5
/.vs/project2/v15/ipch/AutoPCH/1d7a36bcbbb6480d/MEMORY.ipch
/.vs/project2/v15/ipch/AutoPCH/1d7a36bcbbb6480d
/.vs/project2/v15/ipch/AutoPCH/147abe586a7b0035/FIRSTFIT.ipch
/.vs/project2/v15/ipch/AutoPCH/147abe586a7b0035
/.vs/project2/v15/ipch/AutoPCH
/.vs/project2/v15/Browse.VC.opendb
/.vs/project2/v15/Browse.VC.db
/.vs/project2/v15/.suo
/.vs/project2/v15
/.vs
